<%provide(:title,"Apply")%>
<div class ="center jumbotron">
<h1> You motherfuck, stop.right.there </h1>
<body class ="gilfoyle"
<h2> Do you honestly believe you can become an incubee at the greatest and best start-up pressure cooker in the world mate?
<br>
 I'll tell you wot mate, you write an application page and we'll see if you can join
 <br>
 Also add some gun sounds.
 </h2>
</body>
</div>
