<% provide(:title, "Home") %>
<% if logged_in? %> 
	<div class = "row">
		<aside class="col-md-4">
			<section class = "user_info">
				<%= render 'shared/user_info' %>
			</section>
			<section class = "micropost_form">
					<%= render 'shared/micropost_form' %>
			</section>
		</aside>
    <div class="col-md-8">
      <h3>Micropost Feed</h3>
      <%= render 'shared/feed' %>
    </div>
  </div>
<% else %>
<body class="home">
<div class ="center jumbotron">
<h1>Welcome to Sus-O</h1>

<h2>
The most sustainable middle-out platform focusing on pivoted endeavours.</h2>

<%= link_to "Keep it serious please", signup_path, class: "btn btn-lg btn-primary" %>

<h3> To do list </h3>
<li> Force checkboxes to be marked on signup. </li>
<li> Enforce K in name field (copy email regex). </li>
<li> Add The blacker the berry,
  <textarea class="form-control" rows="1"></textarea>
   and save input to user profile.
   </li>
<li> Change every user's default pic to something
  <img src="http://www.windows2universe.org/cool_stuff/images/SiriusB_sm.jpg" alt "SIRIUS" width="80" height="80">
  </li>
</div>
</body>

<% end %>
