<% provide(:title, "Home") %>
<div class ="center jumbotron">
<h1>Welcome to Aviato Ventures</h1>
<h2>This is the home page of  <a href="https://www.facebook.com/maximilian.gruschwitz"> the greatest and best</a>
  incubator in the world.
</h2>
<%= link_to "Apply now!", apply_path, class: "btn btn-lg btn-primary" %>

<h2>
Or if you're a real pussy ass nigga make an account, not like it will increase your chances or anything. Idiot.
</h2>

<%= link_to "Sign up", signup_path, class: "btn btn-lg btn-primary" %>

</div>

<%= link_to image_tag("piedpiperold.png", alt: "Pied Piper"),
            'https://www.youtube.com/watch?v=Ze4JhsDiSWI' %>

<%= link_to image_tag("yeah3000.jpg"), 
	'https://www.yeah3000.com' %>

