<% if object.errors.any? %>
  <div id="error explanation">
    <div class="alert alert-danger">
      The form contains <%= pluralize(@user.errors.count, "error")%>. Keep it serious PLEASE!
    </div>
    <ul>
      <% object.errors.full_messages.each do |e|%>
        <li> <%= e %> </li>
        <% end %>
      </ul>
    </div>
<% end %>
