<footer class="footer">
  <small>
    This is <a href="https://www.railstutorial.org/"> RUBY </a> this is not DIAMONDS
    by <a href="http://s3.amazonaws.com/rapgenius/The-Lion-King-Simba-11.jpg"> Young thug </a>
</small>
<nav>
  <ul>
    <li><%= link_to "About", about_path %></li>
    <li><%= link_to "Contact", contact_path %></li>
    <li><a href="https://news/railstutorial.org/"> News </a></li>
  </ul>
</nav>
</footer>
